/* Buttons */

$button-border-colour: white;
$button-border-hover: rgb(168, 186, 247);
.menu-item {
    text-transform: uppercase;
    border: 1px solid $button-border-colour;
    color: white;
    -webkit-transition: all 1s;
    transition: all 1s;
    a {
        color: #140808;
    }
    &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}