footer {
    height: 30vh;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #2443705c;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* -webkit-clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0); */
    background-color: #65aaa9;
    ::before,
    ::after {
        content: '';
        position: absolute;
        background-color: red;
    }
}

.footer-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
}

.footer-center--scroll {
    position: absolute;
    bottom: -60rem;
}

.svg-inline--fa.fa-w-14 {
    width: 3rem;
    height: 3rem;
    color: antiquewhite;
}

#form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 16rem;
    #name,
    #email {}
    #message {
        min-width: 60px;
    }
    #submit {
        outline: none;
    }
}

.seeif {
    background: #50505a;
    color: #fff;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    -webkit-box-shadow: 10px 10px 40px -14px #000;
    box-shadow: 10px 10px 40px -14px #000;
    position: relative;
    top: 3%;
    left: 24px;
}

.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}