@import 'button';
@import 'footer';
@import 'navButton';
html {
    font-size: 1rem;
}

body {
    background-color: rgb(85, 201, 255);
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 10rem;
}

/* Header Section */

.hero-nav {
    position: fixed;
    z-index: 300;
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 400px;
    min-height: 105px;
    overflow: hidden;
    .hero-nav__inner {
        z-index: 1;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    h2 {
        color: #efefef;
        font-size: 5vw;
    }
    &:before {
        content: "";
        background: rgba(#000, 0);
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: background 400s;
        transition: background 400s;
    }
    &.fixme {
        -webkit-box-shadow: -4px 10px 19px #0000005e;
        box-shadow: -4px 10px 19px #0000005e;
        background-color: rgb(85, 201, 200);
    }
}

.hero-nav__inner--left {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h5 {
        padding-left: 1rem;
        margin: 0;
        padding: 0.5rem 0 0 1rem;
        z-index: 100;
    }
    img {
        position: absolute;
        width: 50%;
        height: 100%;
        z-index: 1;
        opacity: 0.1;
    }
}

.hero-nav__inner--center {
    img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -10%;
        height: 110%;
        z-index: 1;
    }
}

.hero-nav__inner--right {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: black;
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        a {
            text-decoration: none;
        }
        li {
            padding: 0 0.5rem;
            list-style: none;
            color: #efefef;
            margin: 0.3em;
        }
    }
}

/* Main Section */

.main {
    height: 100vh;
}

.main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    &--left {
        width: 50%;
        background-image: url(../img/example.jpg);
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &--right {
        width: 50%;
        &--image {
            height: calc(100% / 3);
            -webkit-transition: all 3s ease-in;
            transition: all 3s ease-in;
            img {
                height: 100%;
                width: 100%;
            }
            &--one {
                background-image: url("../img/etsy.png");
                background-position: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            &--two {
                background-image: url("../img/threadless.png");
                background-blend-mode: color;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
            &--three {
                background-image: url("../img/instagram.png");
                background-position: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }
    }
}

.test {
    background-color: rgba(0, 0, 0, 0);
}

.footer {
    text-align: center;
}

.testthis {
    height: 50vh;
}