/* Colours */
/* Typography */
/* Fonts */
/* Mixins */
/* Header Section */
.hero-nav {
  position: fixed;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  min-height: 105px;
  overflow: hidden;
  -webkit-transition: background-color 1s;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
  font-family: "Oxygen", sans-serif; }
  .hero-nav--canvas {
    height: 100%;
    width: 100%;
    position: absolute; }
  .hero-nav .hero-nav__inner {
    z-index: 1;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .hero-nav h2 {
    color: #201d1dab;
    font-size: 5vw;
    z-index: 5; }
  .hero-nav:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: background 400s;
    transition: background 400s; }
  .hero-nav.fixme {
    -webkit-box-shadow: -4px 10px 19px #0000005e;
    box-shadow: -4px 10px 19px #0000005e;
    background-color: #f0eeeb; }

.hero-nav__inner--left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero-nav__inner--left h5 {
    padding-left: 1rem;
    margin: 0;
    padding: 0.5rem 0 0 1rem;
    z-index: 100; }
  .hero-nav__inner--left img {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: 0.7; }

.hero-nav__inner--center img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -10%;
  height: 110%;
  z-index: 1; }

.hero-nav__inner--right {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero-nav__inner--right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .hero-nav__inner--right ul a {
      text-decoration: none; }
    .hero-nav__inner--right ul li {
      padding: 0 0.5rem;
      list-style: none;
      color: #efefef;
      margin: 0.3em; }

.menu-header-menu-container {
  position: absolute; }

/* Buttons */
button {
  font-family: "Oxygen", sans-serif;
  position: relative;
  padding: 1em 1.5em;
  margin: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: white; }

button::after,
button::before {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 2px; }

button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: white;
  border-right-color: white; }

button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: white;
  border-left-color: white; }

button:hover:after,
button:hover:before {
  width: 100%;
  height: 100%; }

/* Shop Buttons */
.shop-linker {
  color: #4eb6b5;
  font-weight: 600;
  padding: 3em 3.5em;
  font-size: 1.3rem;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  margin: 2rem 0 3rem 0; }
  .shop-linker--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0 1rem 0; }

.shop-linker::before {
  border-top-color: #4eb6b5;
  border-left-color: #4eb6b5; }

.shop-linker::after {
  border-bottom-color: #4eb6b5;
  border-right-color: #4eb6b5; }

.shop-linker:hover {
  background-color: rgba(78, 182, 181, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: -2px 5px 8px #dbb8b8;
  box-shadow: -2px 5px 8px #dbb8b8; }

footer {
  height: 6rem; }

.footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #65aaa933; }
  .footer__center img {
    height: 6rem; }

.svg-inline--fa.fa-w-14 {
  width: 3rem;
  height: 3rem;
  color: #274977; }

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 16rem; }
  #form #message {
    min-width: 60px; }
  #form #submit {
    outline: none; }

.seeif {
  background: #50505a;
  color: #fff;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 40px -14px #000;
  box-shadow: 10px 10px 40px -14px #000;
  position: relative;
  top: 3%;
  left: 24px; }

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Buttons */
.menu-item {
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .menu-item a {
    color: #140808; }
  .menu-item:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.woocommerce-product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .woocommerce-product__container h1 {
    font-size: 3rem; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* Colours */
/* Typography */
/* Fonts */
/* Mixins */
html {
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif; }

h1 {
  font-size: 16px; }

/* Main Section */
.main {
  height: 100vh; }

.main__container {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main__container img {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    opacity: 0.7;
    -o-object-fit: cover;
    object-fit: cover; }
  .main__container h2,
  .main__container h3 {
    font-weight: 400;
    -webkit-box-shadow: -2px 3px white;
    box-shadow: -2px 3px white;
    padding: 5px; }
  .main__container button {
    padding: 4em 3.5em;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in; }
    .main__container button:hover {
      background-color: rgba(78, 182, 181, 0.15);
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px); }

.testthis {
  height: 50vh; }

.main__container--alternates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 30rem; }
  .main__container--alternates a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none; }
  .main__container--alternates h2 {
    font-size: 5rem; }

.shop-link {
  border: 1px solid white;
  padding: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  -webkit-box-shadow: -3px 4px 12px #000000d9;
  box-shadow: -3px 4px 12px #000000d9;
  color: inherit; }

.main__container--alternates--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 7rem; }

.threadless-shop-link,
.artofwhere-shop-link {
  width: 100%;
  padding: 6rem;
  font-size: 1.5rem;
  font-weight: 300;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
  background-size: 100% 100%;
  height: 25rem;
  color: black; }
  .threadless-shop-link:hover,
  .artofwhere-shop-link:hover {
    background-color: #65aaa9; }

.artofwhere-shop-link {
  background-image: url("../img/AOW_DSS_Link.png"); }

.threadless-shop-link {
  background-image: url("../img/Threadless_DSS_Link.png"); }

/* Colours */
/* Typography */
/* Fonts */
/* Mixins */
.contact-form {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contact-form img {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: absolute;
    opacity: 0.7;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%); }

form {
  text-align: center; }

.contact-form--internal {
  border: 1px solid #07989d30;
  background-color: #e0eeee;
  color: #466061c2;
  padding: 1rem;
  border-radius: 4px; }
  .contact-form--internal p {
    font-weight: bold; }

input,
textarea {
  margin-top: 10px; }

.contact-button {
  color: #466061c2;
  font-weight: bold; }

.contact-button::before {
  border-top-color: #4eb6b5;
  border-left-color: #4eb6b5; }

.contact-button::after {
  border-bottom-color: #4eb6b5;
  border-right-color: #4eb6b5; }

.contact-button:hover {
  background-color: rgba(78, 182, 181, 0.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: -2px 5px 8px #dbb8b8;
  box-shadow: -2px 5px 8px #dbb8b8; }

.sb_instagram_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  padding: 0;
  margin: 0; }

#sb_instagram #sbi_load {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#sb_instagram #sbi_load .sbi_load_btn,
#sb_instagram .sbi_follow_btn a {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
